<!DOCTYPE html>
<html>
  <head>
    <title>Tuner's Instruments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer>
      function addMan(status) {
  
        const input = document.getElementById("new-man");
        const area = document.getElementsByClassName("add-area");
        if (status) {
          for (let obj of area) {
            obj.style.display = "inline"
          }
          input.setAttribute("required", "true");
        } else {
            for (let obj of area) {
              obj.style.display = "none";
            }
            input.value = "";
            input.removeAttribute("required");
          }
        }
    </script>
  </head>
  <body>
    <header><a href="/inventory"><img src="/images/logo.svg" id="logo"/></a></header>
    <div class="main">
      <div class="sidebar">
          <ul>
              <li><a href="/inventory/items">View all items</a></li>
              <li><a href="/inventory/categories">View all categories</a></li>
              <li><a href="/inventory/manufacturers">View all manufacturers</a></li>
              <br>
              <br>
              <li><a href="/inventory/items/create">Add item</a></li>
              <li><a href="/inventory/manufacturer/create">Add manufacturer</a></li>
            </ul>
      </div>
      <div class="main-content">
        <h2>Update Item</h2> 
        <form method="POST" action="">
          <div>
            <label for="manufacturer">Manufacturer</label>
            <select name="manufacturer" required>
              <option hidden selected><%= previousItem.manufacturer.name %></option>
              <option onClick="addMan(true)" value="">Add new...</option>
              <% manufacturers.forEach(function(manufacturer) { %>
                  <option onClick="addMan(false)"><%= manufacturer.name %></option>
              <% }) %>
            </select>  
            <input type="text" name="manufacturer" class="add-area" id="new-man" style="display: none" />
          </div>

          <div>
            <label for="category">Category</label>
            <select name="category" required>
              <option hidden selected><%= previousItem.category.name %></option>
              <% categories.forEach(function(category) { %>
                  <option><%= category.name %></option>
              <% }) %>
            </select>  
          </div>

          <div>
            <label for="name" required>Item Name</label>
            <input type="text" name="name" value="<%= previousItem.name %>"required />  
          </div>

          <div>
            <label for="description">Item Description</label>
            <textarea name="description" required><%= previousItem.description %></textarea>  
          </div>

          <div>
            <label for="price">Price</label>
            <input name="price" type="number" min="0.01" step="0.01" value="<%= previousItem.price %>" required />  
          </div>

          <div>
            <label for="stock">Stock</label>
            <input name="stock" type="number" min="1" value="<%= previousItem.stock %>" required />  
          </div>

          <button type="submit">Update Item</button>
        </form>
      </div> 
    </div>
    <footer>Copyright © 2023 Phillip Ott</footer>
  </body>
</html>